{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}

{{ form.progress }}

<div class="form-inner-wrapper section-padding">
	<div class="max-w-md">
		{{ form|without('progress') }}
	</div>
</div>
