ul {
  &.check-indent {
    padding-left: $spacer * 4.75;
  }

  &.cross-indent {
    padding-left: $spacer * 5.25;
  }
}

p {
  &.btn-alignment {
    text-align: center;
  }

  &.btn-container {
    .btn {
      margin-bottom: $spacer;
      margin-top: $spacer;
    }
  }

  &.breakout {
    border-bottom: 2px solid $secondary;
    border-top: 2px solid $secondary;
    font-size: $font-size-base * 1.25;
    font-weight: 600;
    line-height: 1.2;
    padding: ($spacer * 2) 0;
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    &.btn-alignment {
      text-align: left;
    }

    &.breakout {
      background-size: 30px;
      font-size: $font-size-base * 2;
      padding: ($spacer * 4) 0;
      text-align: center;
    }
  }
}

