#block-differentlanguagessameagedcare {
  border-bottom: 1px solid rgba($white, .1);
  margin-bottom: clamp(1rem, 6vw, 3rem);
  padding-bottom: clamp(1rem, 6vw, 3rem);
  text-align: center;

  h2 {
    color: var(--bs-white);
  }

  .field--name-body {
    margin-bottom: $spacer;
  }

  .field--name-field-links {
    .field__item {
      display: inline-block;
      padding: $spacer ($spacer * .5);

      a {
        @extend %link;
        font-size: $font-size-base;
      }

      &:first-child {
        a {
          @extend .btn;
          @extend .btn-primary;
        }
      }
    }
  }
}
